﻿@model IEnumerable<MvcClass.Models.Student>

  @{
    ViewBag.Title = "Index";
  }

  <h2>Student Index Page</h2>
  <p>Boo Yah! Here it is!</p>

@foreach (var item in Model)
{ 
  @item.LastName<text>, </text>@item.FirstName <br />
}


